Создано два отдельных класса Vk_photo и YaUploader в разных файлах(vk.py , yandex.py)

Методы класса Vk_photo:
get_photos -  получаем список с информацией по 5 фотографиям разных размеров
get_dic_max_size_photos - получаем словарь где ключем является количество лайков самой большой фотографии, а значением список, первым элементом которого является ссылка на эту фотографию, а вторым элементом тип размера
get_json_file - создает json файл с расположением параметров как указано в условиях задачи
get_album_id - выводит id альбома по его названию, его можно будет указывать при вызове метода get_photos для получения его фотографий

Методы класса YaUploader:
post_upload -  реализует загрузку фотографий по ссылке 
get_upload_link и put_upload - реализуют загрузку json файла

Файл main.py отвечает за пользовательский интерфейс , вызов и реализацию методов двух предыдущих классов 